{% extends 'layouts/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/for-hide-info.css' %}">
{% endblock %}
{% block content %}
    {% if image %}
        <h2 class="encrypted_image">Shifrlangan rasm</h2>
        <img src="{{ image.url }}" alt="" class="image active">
        <a href="{{ image.url }}" download="" class="download_image">Surat yuklab olish</a>
    {% else %}
        <div class="hide-info-objects">
            <h1 class="select-image-hide-info">Ma'lumotlarni kiriting</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="file-input-container">
                    <button class="file-input-button">Fayl tanlash</button>
                    <input type="file" name="image" class="selected_image" required accept=".jpeg, .jpg, .png">
                </div>
                <div class="object">
                    <img src="" alt="" class="image">
                </div>
                <div class="object">
                    <textarea type="text" name="message" class="encrypt-info" required
                              placeholder="Shifrlamoqchi bolgan ma'lumotingiz"></textarea>
                </div>
                <div class="object-button">
                    <button type="submit" class="bttn">Ma'lumot shifrlash</button>
                </div>
            </form>
        </div>
    {% endif %}
{% endblock %}