{% extends 'layouts/base.html' %}
{% load static %}
{% block new_css %}
{% endblock %}
{% block content %}
    {% if encrypted_text %}
        <div class="see-info-with-text">
            <textarea class="message" disabled style="height: 80px;, ">{{ encrypted_text }}</textarea>
        </div>
    {% elif message %}
        <h1 style="position:relative; top: -400px; margin-top: -2px; left: 550px; display:inline-block;">{{ message }}</h1>
        <form action="{% url 'dashboard:hide_info:with_text' %}" method="post">
            {% csrf_token %}
            <div class="see-info-with-text">
                <textarea placeholder="Shifrlamoqchi bolgan textni kiriting..." name="message"
                          class="message-1" required></textarea>
                <button type="submit">Ma'lumot shifrlash</button>
            </div>
        </form>
    {% else %}
        <form action="{% url 'dashboard:hide_info:with_text' %}" method="post">
            {% csrf_token %}
            <div class="see-info-with-text">
                <textarea placeholder="Shifrlamoqchi bolgan textni kiriting..." name="message"
                          class="message-1"></textarea>
                <button type="submit">Ma'lumot shifrlash</button>
            </div>
        </form>
    {% endif %}
{% endblock %}