{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <div class="select-functions">
        <h1 class="text">Funksiya Tanlang</h1>
        <a href="{% url 'dashboard:see_info:with_photo' %}"><button class="with-photo"> <ion-icon name="images-outline" class="icon-index-function"></ion-icon>Surat Orqali</button></a>
        <a href="{% url 'dashboard:see_info:with_text' %}"><button class="with-text"><ion-icon name="text-outline" class="icon-index-function"></ion-icon>Text Orqali</button></a>
        <a href="{% url 'dashboard:see_info:with_text' %}"><button class="with-voice {% if request.user.voice_status == True %}True{% else %}False{% endif %}"><ion-icon name="mic-outline"></ion-icon>Ovoz Orqali</button></a>
    </div>

{% endblock %}